html, body {
    height:100%;
    margin: 0;
}

body {
    align-items: center;
    justify-content: center;
    background: #f5f5f5; /* optional page background */
}







.container{
    background-color: #525799;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    text-align: center;
    text-decoration:dotted;
    font-size:20px;
}


.site_title
{
    color:gold;
    font-size: 50px;
}


.content{
    padding: 15px;
    color: rgb(245, 238, 238);
}

.content th{
    margin: 0;
    padding: 0;
    width: 80%;
    border-color:none;
    border-width: 5px;
    border-style: solid;
    text-align: center;
}


.content img{
    width: 300px;
    height: auto;
}


.vk{
    color:rgb(0, 0, 0)
}