* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.body {
    background-color: lightgreen;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px
}


.apply-box {
    max-width: 600px;
    margin: 20px auto;
    padding: 100px;                               
    background-color: aliceblue;                     /* color of box */
    box-shadow: 4px 4px 10px rgb(5, 5, 5, 0.1);        /* for shadow below the box */
    border-radius: 20px;                               /* for rounded corner */;

}


.title-small {
    font-size: 20px;
    }

 .button_container {
        color: red;
        text-align: center;
        margin-top: 20px;

    }

    .form_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    